Images
Algorithms/Dataset
moseg_dataset.zip
Algorithms/ic
Algorithms/ptlflow_scripts
Algorithms/Outputs
Algorithms/__pycache__
Latex/build
Latex/main.synctex.gz
Latex/.latexmkrc
Latex/Images
sideseeing/export-relatorios/templates
sideseeing/export-relatorios/output
sideseeing/export-relatorios/output
sideseeing/export-relatorios/export_linear.py
sideseeing/export-relatorios/export2.py
sideseeing/export-relatorios/export-test.py
sideseeing/export-relatorios/jn-test.ipynb
sideseeing/export-relatorios/out.html
sideseeing/export-relatorios/grafico_faturamento_dia.png
sideseeing/export-relatorios/__pycache__
.vscode
